<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.4/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="defects"
         resolveDependencies="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="WordPress Docker Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>build</directory>
            <file>examples/data/wp-content/mu-plugins/wp-notify.php.example</file>
            <file>examples/data/wp-content/mu-plugins/wp-performance.php.example</file>
            <file>examples/data/wp-content/mu-plugins/wp-translation-updates-disabler.php.example</file>
            <file>examples/data/wp-content/mu-plugins/wp-acf-editor-control.php.example</file>
            <file>examples/data/wp-content/mu-plugins/wp-telemetry-blocker.php.example</file>
            <file>examples/data/wp-content/mu-plugins/wp-post-duplicator.php.example</file>
            <file>examples/data/wp-content/mu-plugins/wp-core-cleanup.php.example</file>
            <file>examples/data/wp-content/mu-plugins/wp-transliterator.php.example</file>
            <file>examples/data/wp-content/mu-plugins/wp-youtube.php.example</file>
        </include>
        <exclude>
            <file>build/wp-sync.php</file>
        </exclude>
    </source>
</phpunit>

